.banner{
  background: url("https://images.unsplash.com/photo-1597633611385-17238892d086?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 560px;
}
.product{
  background: url("https://images.unsplash.com/photo-1589924648735-e4ddb20adeee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8Mzd8RXFDYlk2T043eEl8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
}
.adoptPet{
  background: url("https://images.unsplash.com/photo-1622273413867-4724491f4f6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTB8RXFDYlk2T043eEl8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
}
.service{
  background: url("https://images.unsplash.com/photo-1546975490-e8b92a360b24?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MnxFcUNiWTZPTjd4SXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
}